API_ID = 1663897
API_HASH = 1875206e088b4afe272ee51fdb310a46
BOT_TOKEN = 5964607552:AAGN1hbnfGzU8y11ffrI7-0eoH01uE-VnHk
MONGO_DB_URI = mongodb+srv://vcbot:vcbot@cluster0.yqipgxg.mongodb.net/zg?retryWrites=true&w=majority
LOG_GROUP_ID = -1001704784226
MUSIC_BOT_NAME = ZG
STRING_SESSION = AQAxRslzLepVELYajIDqEBu2Gk0vkjgTHE5spqwC2FbD3h2ioTsn_bpagpSW-uchd4JDJ346AU9APLcnm5Scx2PFx1uKsccLHl9o3jmsXsJw7fDI9qT3pmeylgQUXZz8wx09DXz8YxkEeZYRqkJ4Xuge4MPIXh4qzCbivUHI-kGNRFirVBdwjNXMM4RkASAnQtxUWHzqEpi0uPpi4C556hx4kiSBxgybz04LaFiu94CcJDYoM6O4X3CYBE-hMhveuEkeB5D8_KlVSzM0J7QUGljX26wqUK27ZecaAkFr2YlPPFjU-T2oxjBKRb1iOCIEPtfHcUOi6ZRZztUadmkt9CJqAAAAAVOP6F8A
OWNER_ID = 1463712862
